@import url("functions.less");

body {
	background-color:#E7EBF1;
	min-width:960px;
	height:100%;
}

.container {
	background-color:#D2DAE4;
	min-height:100%;
}

a {
	color: #1586DF;
}

/* CKEDITOR */

.cke_chrome {
	.box-shadow(none) !important;
	border:1px solid #CCC !important;

	.cke_top {
		.gradient-bg(#FFF,#F9F9F9);
		border-bottom: 1px solid #CCC;

		.cke_toolgroup {
			border:1px solid #CCC;
			.gradient-bg(#FFF,#F4F4F4);
		}
	}

	.cke_contents {
		height:150px !important;
	}

	.cke_bottom {
		border-top:1px solid #CCC;
		.gradient-bg(#FFF,#F4F4F4);
	}
}

.button {

	display: inline-block;
	border:none;
	line-height: 30px;
	font-size: 12px;
	text-decoration: none;
	padding:0 10px;
	.border-radius(3px);
	vertical-align: middle;

	&.green {

		background-color: #27ae60;
		border:none;
		.border-radius(2px);
		color:#FFF;
		line-height: 35px;
		padding: 0 15px;
	}

	&.light {
		background: #E5EBF1;
		color: #8CA0BB;
	}

	&.dark {
		background-color: #34495e;
		color:#FFF;
	}
}

.sidebar {
	background-color: #1B1E24;
	padding:15px 0 15px 0;
	height:100%;

	.box {
		background: none;
		border:none;
		box-shadow: none;
		margin:0;
		padding:0;

		h2 {
			color:#FFF;
			background: none;
			font-size: 14px;
			text-shadow:none;
			border:none;
			padding:5px 20px;
			cursor: pointer;
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;

			i {
				margin-right: 15px;
				font-size: 18px;
				display: inline-block;
				width: 16px;
				text-align: center;
			}
		}

		ul.nav {
			display: none;
			background: #22262E;
			padding:10px 10px 10px 30px;

			&.active {
				display: block;
			}

			li {
				a {
					font-family: 'Open Sans', sans-serif;
					font-weight: 300;
					color:#E1EAF1;
					line-height: 35px;
					text-decoration: none;
				}
			}

			&.tree {
				padding-left: 20px;
				display: block !important;


				li:first-child {
					a {
						background-image: none;
					}
				}

				& ul {
					padding:0 0 0 20px;
					border-left:1px dashed #2D353F;


					li {
						a {
							display: inline-block;
							height:32px;
							padding-left: 0;
						}
					}
				}


			}
		}
	}
}

.google-preview {

	background-image: url(../../images/core/logos/google-small.jpg);
	padding-left: 100px;
	background-position: 10px center;
	background-repeat: no-repeat;

	span {
		display: block;
		line-height: 18px;
	}
	.url {
		color:#006621;
		font-size: 13px;
	}
	.title {
		color:#1E0FBE;
		text-decoration: underline;
		font-size: 16px;
	}
	.desc {
		color:#444;
		font-size: 13px;
	}
}

.main {

	padding: 10px 20px;
	margin:0;

	.filter-table {
		text-align: right;
		position: absolute;
		top:0;
		right:0;
		margin-top: -55px;

		input[type=search]{
			font-size: 12px !important;
			height: 20px;
			border:1Px solid #CCC;
			background-image:url(../../images/core/search.png) !important;
			padding-left: 30px;
			background-repeat: no-repeat;
			background-position: 5px center;
			.opacity(50);
		}
	}

	.full {
		padding:0;
		background: none;
		border:none;

		.tabs {
			height:45px;
			background:#BEC9D6;
			list-style:none;
			margin:0 0px;

			li {
				float:left;
				line-height:45px;
				padding: 0 25px;
				cursor:pointer;
				font-size:12px;
				color:#8896AD;
				font-weight:600;
				font-family: 'Open Sans', sans-serif;

				&.active {
					background-color:#FFF;
					.box-shadow(1px 1px 1px #A3B1CF);
					color:#333;
				}
				&:first-child {
					.radius-top-left(3px);
				}
			}
		}

		h2 {
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			font-weight: 300;
			margin: 0 0 10px 0;
			padding:20px 10px;
			vertical-align: middle;

			.button {
				margin-left: 15px;
				line-height: 30px;
				box-shadow:0 1px 1px #CCC;

				&:active {
					box-shadow: 0 1px 1px #CCC inset;
				}
			}
		}

		h3 {
			background-color: #EFF2F5;
			color:#36597E;
			margin:0;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			font-size: 16px;
			padding:15px 20px 15px 20px;
			border-bottom: 1px solid #DDD;
		}

		form {

			label {
				margin-bottom: 0;

				&.error {
					color:#EB6F62;
				}
			}

			span.req {
				color:#EB6F62;
				margin-left: 5px;
				font-weight: bold;
				font-size: 16px;
			}

			span.help-text {
				font-size: 11px;
				display: block;
				color:#888;
			}

			ul.checkbox-list {
				list-style: none;
				margin:0;
				padding:0;

				li {
					label {
						line-height: 30px;
						font-size: 12px;

					input {
						display: inline-block;
						vertical-align: middle;
						margin: 0;
						margin-right: 10px;
					}
				}
				}
			}

			textarea {
				width:100%;
				.box-sizing();
			}

			/* UPLOAD FILES */

			.uploadholder {
				text-align: center;
				margin-top: 20px;
				padding-bottom: 20px;

				#file_upload {
					width:100% !important;

					object {
						margin-left: -125px;
					}

					#file_upload-button {
						margin: 0 auto;
						background-color: #34495e;
						.border-radius(3px);
						color:#FFF;
						font-size: 11px;
						text-transform: uppercase;
						font-weight: bold;
					}
				}

				.media {
					margin-top: 30px;
					border-bottom: 1px solid #DDD;

					.item {
						border:1px solid #DDD;
						margin-bottom: -1px;
						height:92px;
						text-align: left;
						position: relative;

						figure {
							float:left;
							height:90px;
							width:90px;
							margin:1px 20px 1px 1px;
							overflow: hidden;

							img {
								width: 90px;
								height: 90px;
							}
						}

						p {
							line-height: 30px;
							margin:0;
							padding:0;
							height: 30px;
							margin-top: 10px;
							display: inline-block;
							width: 70%;
							margin-left: 80px;

							label {
								display: inline-block;
								width: 90px;
								line-height: 30px;
								margin: 0;
								padding: 0;
								vertical-align: top;
								font-size: 12px;
							}
						}

						&.filetype {
							figure {
								text-align: center;
								line-height: 90px;

								img {
									width:48px;
									height:48px;
								}
							}

							p {
								width: 60%;
								margin-left: 140px;
							}
						}

						span.filetitle {
							position: absolute;
							top: 0;
							left: 0;
							margin-left: 80px;
							font-size: 11px;
							font-weight: bold;
							word-break: break-all;
							width: 140px;
							line-height: 15px;
							margin-top: 30px;
							height: 30px;
							overflow: hidden;
						}

						span.crop {
							position: absolute;
							top: 0;
							left: 0;
							margin-left: 105px;
							background-color: #EEE;
							border: 1px solid #CCC;
							width: 70px;
							height: 30px;
							margin-top: 25px;
							.gradient-bg(#FFF,#F4F4F4);
							.border-radius(3px);

							a {
								line-height: 30px;
								text-decoration: none;
								text-align: center;
								display: block;
								color:#555;

								i {
									font-size: 16px;
									margin-right: 3px;
									color:#222;
								} 
							}
						}
					}
				}
			}

			input[type=text],
			input[type=email],
			input[type=password],
			select {
				border:1px solid #DDD;
				width:50%;
				.box-sizing();
				height:30px;

				&.error {
					border:1px solid #EB6F62;
				}
			}

			p {
				.button {
					line-height: 30px;
					margin: 0;
					display: inline-block;
					vertical-align: top;
				}
			}
		}

		.actions {
				input[type=submit] {
					display: inline-block;
					background-color: #27ae60;
					border:none;
					.border-radius(2px);
					color:#FFF;
					line-height: 35px;
					padding: 0 15px;
				}
			}

		.block {

			background: #FFF;
			margin-bottom: 20px;
			padding:20px;
			position: relative;

			&.pane {
				display:none;

				&.active {
					display:block;
				}
			}

			&.map {

				#map {
					width:100%;
					height:240px;
				}
			}

			figure.preview {
				margin:0 10px 0 0;
				padding:0;
				float:left;
				width:100px;
				height:120px;
				line-height: 120px;
				text-align: center;

				img {
					max-width:80px;
					max-height:80px;
					display: inline-block;
					vertical-align: middle;
				}
			}

			.videos {

				.video {
					border: 1px solid #DDD;
					margin-bottom: -1px;

					figure {
						height:76px;
						width:130px;
						margin:0;
						margin-right: 15Px;

						img {
							height:102px;
							width:130px;
							margin-top: -13px;
						}
					}
					h2 {
						font-size: 13px;
						margin: 0;
						padding: 5px 0;
						margin-top: 5px;
					}
					p {
						padding-right: 50px;
						color: #B4B4B4;
						line-height: 16px;
						margin-top: 3px;
					}
					.del {
						text-decoration: none;
						margin-top: 25px;
						margin-right: 15px;
					}
				}
			}

			.table {

				font-family: 'Open Sans', sans-serif;
				margin:0;

				&.table-rounded {
					.border-radius(0);
				}
				&.table-bordered {

					tbody {
						th, td {
							border-bottom:1px solid #ECEDEE;
						}
						tr:last-child {
							td {
								border-bottom: none;
							}
						}
					}
					thead {
						background-color: none;
	
						td, th {
							border-left:none;
							border-bottom:1px solid #ECEDEE;
						}
					}
				}

				td.actions {

					text-align: right;

					a {
						color:#CCC;
						text-decoration: none;
						.transition();
						font-weight: bold;
						text-transform: uppercase;

						i {
							font-weight: 300;
							font-size: 15px;
						}
					}
					a.del:hover {
						color: red;
						text-decoration: none;
					}
				}

				td {

					.file-icon {
						width:16px;
						height:16px;
						margin-right: 10px;
						display: inline-block;
						vertical-align: middle;
					}
				}

				tr.unread {
					font-weight: bold;
					border-left:2px solid #f1c40f;
				}
			}
		}

		.stats {
			padding: 4px;

			ul {
				list-style: none;
				margin:0;
				padding:0;

				li {
					display: inline-block;
					background-color: #e74c3c;
					color: #FFF;
					font-size: 16px;
					line-height: 60px;
					padding:0 20px 0 0;
					text-shadow:0 1px 1px #c0392b;

					i {
						float: left;
						height:60px;
						width:60px;
						font-size: 22px;
						text-align: center;
						line-height: 60px;
					}
				}
			}
		}
	}

}