body {
	margin:0;
	padding:0;
	width:100%;
	min-width:900px;
	height:100%;
	font-family: Arial;
	font-size:14px;
}

.install-box {
	width:300px;
	margin:20px auto 0 auto;
	padding:10px 0;
	border:1px solid #CCC;
	border-radius:3px;
	text-align: center;
}
.install-box h1 {
	font-size: 16px;
	margin:0;
	padding:5px 0;
	line-height: 18px;
	text-align: center;
}

.container {
	width:100%;
	margin-top: 20px;
}

.menu {
	position: absolute;
	left:0;
	top:0;
	height:100%;
	width:60px;
	background: #333;
	color:#FFF;
	box-shadow: 0 0 5px #111;
	z-index: 100;
}
.menu ul {
	margin:0;
	padding:0;
}
.menu ul li {
	line-height: 60px;
	width:60px;
	text-align: center;
	font-weight: normal;
	border-bottom: 1px solid #222;
	border-top: 1px solid #444;
}
.menu ul li.active {
	background: #1D61AA;
}
.menu ul li i {
	font-size: 24px;
	color:#999;
}
.menu ul li.active i {
	color:#FFF;
}
.menu ul li:hover {
	background: #252525;
	box-shadow: 0 0 3px #000 inset;
	border-left:4px solid #1D61AA;
	width:56px;
}
.menu ul li:hover i {
	color:#FFF;
}
.submenu {
	position: absolute;
	left:60px;
	top:0;
	height:100%;
	width:200px;
	background: #222;
}
.submenu h2 {
	color:#FFF;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	padding: 0 0 0 20px;
	margin:20px 0;
}
.submenu h3 {
	color:#555;
	font-size: 10px;
	line-height: 15px;
	font-weight: bold;
	margin:0 0 10px 0;
	padding:0 0 0 20px;
	text-transform: uppercase;
	text-shadow: 0 -1px 1px #000;
}
.submenu ul {
	margin:0 0 20px 0;
	padding: 0;
	list-style: none;
}
.submenu ul li {
	line-height: 18px;
	font-size: 12px;
}
.submenu ul li a {
	color:#CCC;
	padding: 10px 20px;
	display: block;
}
.submenu ul li.active {
	background: #111;
}

.main {
	width:800px;
	padding-left: 280px;
	padding-right: 20px;
	float:left;
}

.main h3 {
	margin:0;
	padding:0;
}

/* TABLES */

.table .progress {
	height:10px;
	margin-bottom: 0;
	margin-top: 5px;
}