.no-webkit-appearance(@appearance:none)Â {
  -webkit-appearance: ;
  -webkit-text-size-adjust: ;
}
.zoom(@zoom:1)Â {
  -moz-transform: scale();
  -o-transform: scale();
  -webkit-transform: scale();
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  zoom: ;
}
body {
  background-color: #E7EBF1;
  min-width: 960px;
  height: 100%;
}
.container {
  background-color: #D2DAE4;
  min-height: 100%;
}
a {
  color: #1586DF;
}
.cke_chrome {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  behavior: url(/PIE.htc) !important;
  border: 1px solid #CCC !important;
}
.cke_chrome .cke_top {
  background-image: -moz-linear-gradient(top,#FFF,#F9F9F9);
  background-image: -ms-linear-gradient(top,#FFF,#F9F9F9);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#F9F9F9));
  background-image: -webkit-linear-gradient(top,#FFF,#F9F9F9);
  background-image: -o-linear-gradient(top,#FFF,#F9F9F9);
  background-image: linear-gradient(top,#FFF,#F9F9F9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start',endColorstr='@stop',GradientType=0);
  filter: progid:DXimagetransform.microsoft.gradient(enabled=false);
  -pie-background: linear-gradient(#FFF,#F9F9F9);
  -ms-behavior: url(/PIE.htc);
  border-bottom: 1px solid #CCC;
}
.cke_chrome .cke_top .cke_toolgroup {
  border: 1px solid #CCC;
  background-image: -moz-linear-gradient(top,#FFF,#F4F4F4);
  background-image: -ms-linear-gradient(top,#FFF,#F4F4F4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#F4F4F4));
  background-image: -webkit-linear-gradient(top,#FFF,#F4F4F4);
  background-image: -o-linear-gradient(top,#FFF,#F4F4F4);
  background-image: linear-gradient(top,#FFF,#F4F4F4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start',endColorstr='@stop',GradientType=0);
  filter: progid:DXimagetransform.microsoft.gradient(enabled=false);
  -pie-background: linear-gradient(#FFF,#F4F4F4);
  -ms-behavior: url(/PIE.htc);
}
.cke_chrome .cke_contents {
  height: 150px !important;
}
.cke_chrome .cke_bottom {
  border-top: 1px solid #CCC;
  background-image: -moz-linear-gradient(top,#FFF,#F4F4F4);
  background-image: -ms-linear-gradient(top,#FFF,#F4F4F4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#F4F4F4));
  background-image: -webkit-linear-gradient(top,#FFF,#F4F4F4);
  background-image: -o-linear-gradient(top,#FFF,#F4F4F4);
  background-image: linear-gradient(top,#FFF,#F4F4F4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start',endColorstr='@stop',GradientType=0);
  filter: progid:DXimagetransform.microsoft.gradient(enabled=false);
  -pie-background: linear-gradient(#FFF,#F4F4F4);
  -ms-behavior: url(/PIE.htc);
}
.button {
  display: inline-block;
  border: none;
  line-height: 30px;
  font-size: 12px;
  text-decoration: none;
  padding: 0 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -ms-behavior: url(/PIE.htc);
  vertical-align: middle;
}
.button.green {
  background-color: #27ae60;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -ms-behavior: url(/PIE.htc);
  color: #FFF;
  line-height: 35px;
  padding: 0 15px;
}
.button.light {
  background: #E5EBF1;
  color: #8CA0BB;
}
.button.dark {
  background-color: #34495e;
  color: #FFF;
}
.sidebar {
  background-color: #1B1E24;
  padding: 15px 0 15px 0;
  height: 100%;
}
.sidebar .box {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.sidebar .box h2 {
  color: #FFF;
  background: none;
  font-size: 14px;
  text-shadow: none;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
.sidebar .box h2 i {
  margin-right: 15px;
  font-size: 18px;
  display: inline-block;
  width: 16px;
  text-align: center;
}
.sidebar .box ul.nav {
  display: none;
  background: #22262E;
  padding: 10px 10px 10px 30px;
}
.sidebar .box ul.nav.active {
  display: block;
}
.sidebar .box ul.nav li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #E1EAF1;
  line-height: 35px;
  text-decoration: none;
}
.main {
  padding: 10px 20px;
  margin: 0;
}
.main .filter-table {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -55px;
}
.main .filter-table input[type=search] {
  font-size: 12px !important;
  height: 20px;
  border: 1Px solid #CCC;
  background-image: url(../../images/core/search.png) !important;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 5px center;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity = 50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.main .full {
  padding: 0;
  background: none;
  border: none;
}
.main .full .tabs {
  height: 45px;
  background: #BEC9D6;
  list-style: none;
  margin: 0 0px;
}
.main .full .tabs li {
  float: left;
  line-height: 45px;
  padding: 0 25px;
  cursor: pointer;
  font-size: 12px;
  color: #8896AD;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.main .full .tabs li.active {
  background-color: #FFF;
  box-shadow: 1px 1px 1px #A3B1CF;
  -moz-box-shadow: 1px 1px 1px #A3B1CF;
  -webkit-box-shadow: 1px 1px 1px #A3B1CF;
  behavior: url(/PIE.htc);
  color: #333;
}
.main .full .tabs li:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -ms-behavior: url(/PIE.htc);
}
.main .full h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 20px 10px;
  vertical-align: middle;
}
.main .full h2 .button {
  margin-left: 15px;
  line-height: 30px;
  box-shadow: 0 1px 1px #CCC;
}
.main .full h2 .button:active {
  box-shadow: 0 1px 1px #CCC inset;
}
.main .full h3 {
  background-color: #EFF2F5;
  color: #36597E;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #DDD;
}
.main .full form label {
  margin-bottom: 0;
}
.main .full form label.error {
  color: #EB6F62;
}
.main .full form span.req {
  color: #EB6F62;
  margin-left: 5px;
  font-weight: bold;
  font-size: 16px;
}
.main .full form span.help-text {
  font-size: 11px;
  display: block;
  color: #888;
}
.main .full form ul.checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main .full form ul.checkbox-list li label {
  line-height: 30px;
  font-size: 12px;
}
.main .full form ul.checkbox-list li label input {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 10px;
}
.main .full form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-behavior: url(/boxsizing.htc);
}
.main .full form .uploadholder {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.main .full form .uploadholder #file_upload {
  width: 100% !important;
}
.main .full form .uploadholder #file_upload object {
  margin-left: -125px;
}
.main .full form .uploadholder #file_upload #file_upload-button {
  margin: 0 auto;
  background-color: #34495e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -ms-behavior: url(/PIE.htc);
  color: #FFF;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}
.main .full form .uploadholder .media {
  margin-top: 30px;
  border-bottom: 1px solid #DDD;
}
.main .full form .uploadholder .media .item {
  border: 1px solid #DDD;
  margin-bottom: -1px;
  height: 92px;
  text-align: left;
  position: relative;
}
.main .full form .uploadholder .media .item figure {
  float: left;
  height: 90px;
  width: 90px;
  margin: 1px 20px 1px 1px;
  overflow: hidden;
}
.main .full form .uploadholder .media .item figure img {
  width: 90px;
  height: 90px;
}
.main .full form .uploadholder .media .item p {
  line-height: 30px;
  margin: 0;
  padding: 0;
  height: 30px;
  margin-top: 10px;
  display: inline-block;
  width: 70%;
  margin-left: 80px;
}
.main .full form .uploadholder .media .item p label {
  display: inline-block;
  width: 90px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-size: 12px;
}
.main .full form .uploadholder .media .item.filetype figure {
  text-align: center;
  line-height: 90px;
}
.main .full form .uploadholder .media .item.filetype figure img {
  width: 48px;
  height: 48px;
}
.main .full form .uploadholder .media .item.filetype p {
  width: 60%;
  margin-left: 140px;
}
.main .full form .uploadholder .media .item span.filetitle {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 80px;
  font-size: 11px;
  font-weight: bold;
  word-break: break-all;
  width: 140px;
  line-height: 15px;
  margin-top: 30px;
  height: 30px;
  overflow: hidden;
}
.main .full form .uploadholder .media .item span.crop {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 105px;
  background-color: #EEE;
  border: 1px solid #CCC;
  width: 70px;
  height: 30px;
  margin-top: 25px;
  background-image: -moz-linear-gradient(top,#FFF,#F4F4F4);
  background-image: -ms-linear-gradient(top,#FFF,#F4F4F4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#F4F4F4));
  background-image: -webkit-linear-gradient(top,#FFF,#F4F4F4);
  background-image: -o-linear-gradient(top,#FFF,#F4F4F4);
  background-image: linear-gradient(top,#FFF,#F4F4F4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start',endColorstr='@stop',GradientType=0);
  filter: progid:DXimagetransform.microsoft.gradient(enabled=false);
  -pie-background: linear-gradient(#FFF,#F4F4F4);
  -ms-behavior: url(/PIE.htc);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -ms-behavior: url(/PIE.htc);
}
.main .full form .uploadholder .media .item span.crop a {
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #555;
}
.main .full form .uploadholder .media .item span.crop a i {
  font-size: 16px;
  margin-right: 3px;
  color: #222;
}
.main .full form input[type=text],
.main .full form input[type=email],
.main .full form input[type=password],
.main .full form select {
  border: 1px solid #DDD;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-behavior: url(/boxsizing.htc);
  height: 30px;
}
.main .full form input[type=text].error,
.main .full form input[type=email].error,
.main .full form input[type=password].error,
.main .full form select.error {
  border: 1px solid #EB6F62;
}
.main .full form p .button {
  line-height: 30px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.main .full .actions input[type=submit] {
  display: inline-block;
  background-color: #27ae60;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -ms-behavior: url(/PIE.htc);
  color: #FFF;
  line-height: 35px;
  padding: 0 15px;
}
.main .full .block {
  background: #FFF;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}
.main .full .block.pane {
  display: none;
}
.main .full .block.pane.active {
  display: block;
}
.main .full .block.map #map {
  width: 100%;
  height: 240px;
}
.main .full .block figure.preview {
  margin: 0 10px 0 0;
  padding: 0;
  float: left;
  width: 100px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.main .full .block figure.preview img {
  max-width: 80px;
  max-height: 80px;
  display: inline-block;
  vertical-align: middle;
}
.main .full .block .videos .video {
  border: 1px solid #DDD;
  margin-bottom: -1px;
}
.main .full .block .videos .video figure {
  height: 76px;
  width: 130px;
  margin: 0;
  margin-right: 15Px;
}
.main .full .block .videos .video figure img {
  height: 102px;
  width: 130px;
  margin-top: -13px;
}
.main .full .block .videos .video h2 {
  font-size: 13px;
  margin: 0;
  padding: 5px 0;
  margin-top: 5px;
}
.main .full .block .videos .video p {
  padding-right: 50px;
  color: #B4B4B4;
  line-height: 16px;
  margin-top: 3px;
}
.main .full .block .videos .video .del {
  text-decoration: none;
  margin-top: 25px;
  margin-right: 15px;
}
.main .full .block .table {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.main .full .block .table.table-rounded {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-behavior: url(/PIE.htc);
}
.main .full .block .table.table-bordered tbody th,
.main .full .block .table.table-bordered tbody td {
  border-bottom: 1px solid #ECEDEE;
}
.main .full .block .table.table-bordered tbody tr:last-child td {
  border-bottom: none;
}
.main .full .block .table.table-bordered thead {
  background-color: none;
}
.main .full .block .table.table-bordered thead td,
.main .full .block .table.table-bordered thead th {
  border-left: none;
  border-bottom: 1px solid #ECEDEE;
}
.main .full .block .table td.actions {
  text-align: right;
}
.main .full .block .table td.actions a {
  color: #CCC;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-weight: bold;
  text-transform: uppercase;
}
.main .full .block .table td.actions a i {
  font-weight: 300;
  font-size: 15px;
}
.main .full .block .table td.actions a.del:hover {
  color: red;
  text-decoration: none;
}
.main .full .block .table td .file-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.main .full .block .table tr.unread {
  font-weight: bold;
  border-left: 2px solid #f1c40f;
}
.main .full .stats {
  padding: 4px;
}
.main .full .stats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main .full .stats ul li {
  display: inline-block;
  background-color: #e74c3c;
  color: #FFF;
  font-size: 16px;
  line-height: 60px;
  padding: 0 20px 0 0;
  text-shadow: 0 1px 1px #c0392b;
}
.main .full .stats ul li i {
  float: left;
  height: 60px;
  width: 60px;
  font-size: 22px;
  text-align: center;
  line-height: 60px;
}
